<app-breadcrumb title="Dein QR Code"></app-breadcrumb>

<section class="content" fxLayout="column" fxLayoutGap="16px">

	<div fxLayout="row" fxLayoutGap="2em">
		<p fxFlex="1 1 auto">
			Lass andere diesen QR Code scannen, um euren Kontakt zu dokumentieren.
		</p>
		<button mat-icon-button><mat-icon>help</mat-icon></button>
	</div>

	<mat-card>
		<mat-card-content fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="start center">
			<ngx-kjua [text]="qrCode"></ngx-kjua>

			<div>&nbsp;</div>

			<div fxLayout="row" fxLayoutGap="16px" class="share">
				<mat-icon>share</mat-icon>
				<b>QR-Code teilen</b>
			</div>

			<div fxLayout="row" fxLayoutGap="16px"  class="share">
				<img height="auto" width="24" src="https://s3-alpha-sig.figma.com/img/492d/317c/d591e78623271f36919fa757a77d8e71?Expires=1585526400&Signature=BgB5QVg4wwsO-3zKa5WmzdFDkjKx~1en3fxLn2CSV1zal4eeE3qUb6sBXxbe1ba~jhypQAochJqAnZ3HoGgmV~xEONAtXnRHoG6MNntdQudM66LzGtDZmoEMwkeHQ5tdR8Irpf5g2wR~KorQOgmCJ~znBHSENvhqhzUGSGltpPNCIKdlfG5Vj~uirrkrUbLdRgH9vzQIhmwIDP~Lw0-CCQSLgxEAaDaGh~gq0l5aSFlULsyv4vcZrhpuIJ4OY2Aoja7McHg9U3g2fjlOkuURCR90UA8Tn2L6AkfMoJ5lEwq4BruoHmA6KpgMz6HAY5yvy24a8t5f2CisrEiRVhmujg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
				<b>Mit Sozial Media Kontakt verbinden</b>
			</div>
		</mat-card-content>
	</mat-card>

	<div>&nbsp;</div>
	<button mat-raised-button class="m-auto mx-8" color="primary" (click)="toQrReader()">QR-Code Scanner</button>


</section>
