<section class="content" fxLayout="column" fxLayoutGap="1em">
    <img style="margin:auto" src="./assets/sword-stone-pull.svg"/>
    <h3 class="text-xl">Werde Teil der weltgrößten Geminschaft ...</h3>
    <form class="mx-10 my-4" [formGroup]="regForm" fxLayout="column" fxLayoutGap="1em">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Michael Jackson II.">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="jacksonalive@gmail.com">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" placeholder="*******">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onReg()" [disabled]="regForm.invalid">Registrieren</button>

        <button mat-button (click)="onLogin()">zum Login</button>
    </form>

</section>
