<app-breadcrumb title="Zeitachse"></app-breadcrumb>

<div fxLayout="row" fxLayoutAlign="begin center" class="heading">
    <mat-form-field appearance="standard">
        <mat-select [(value)]="selectedMonth">
            <mat-option *ngFor="let month of months" [value]="month">
                {{month}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div fxFlex="1 1 auto"></div>
    <button mat-icon-button><mat-icon>search</mat-icon></button>
    <button mat-icon-button><mat-icon>event</mat-icon></button>
</div>
<div class="content">

    <div *ngFor="let date of eventsByDate() | keyvalue: sortNull">
        <div class="date">
            {{ date.key | date: 'dd' }}<br>
            {{ date.key | date: 'EEEE' }}
        </div>

        <mat-card *ngFor="let event of date.value">
            <mat-card-content gdAreas="img title more | img time more | img desc more" gdColumns="60px auto 40px">
                <img gdArea="img" [src]="event.img" *ngIf="event.img" class="timeline-image">
                <mat-icon gdArea="img" *ngIf="event.icon" class="timeline-icon">{{event.icon}}</mat-icon>
                <div gdArea="title" class="title">
                    {{event.title}}
                    <mat-icon *ngIf="event.status === 'green'" class="status green">panorama_fisheye</mat-icon>
                </div>
                <small gdArea="time">{{event.begin | date: 'HH:mm'}} <ng-container *ngIf="event.to">- {{event.to | date: 'HH:mm'}}</ng-container></small>
                <small gdArea="desc">{{event.description}}</small>
                <button gdArea="more" mat-icon-button><mat-icon>more_vert</mat-icon></button>
            </mat-card-content>
        </mat-card>

    </div>

</div>
